{% extends "base.html" %}


{% block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
      
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us ..</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
        <div class="container">
           
                <center>
                    <div class="row">
                <div class="col-6">
                    <h2>Our Story</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Aspernatur voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem volupt
                        ates
                        voluptatum voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem voluptates
                        </p>
                </div>
                <div class="col-6">
                    <h2>Our Mission</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Aspernatur voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem volupt
                        ates
                        voluptatum voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem voluptates
                        </p>
                </div>
                </div>
                </div>
            <div class="row ">
                <div class="col-6">
                    <h2 >Our Vision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                            Aspernatur voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem volupt
                            ates
                            voluptatum voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem voluptates
                        </p>
                    </div>
                <div class="col-6">
                    <h2>Our Values</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                            Aspernatur voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem volupt
                            ates
                            voluptatum voluptatibus voluptatem voluptates voluptatum voluptatibus voluptatem voluptates
                        </p>
                    </div>
                    </div>
                    </div>
                </center>
                  


    </body>
</html>
{% endblock %}