{% extends "base.html" %}


{% block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
      
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Login Here ..</h1>

                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
            </header>
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
           
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                          <input type="text" class="form-control" name="username"  placeholder="Enter Username">
                          
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
            </div>
            </div>

            <br><br>
          
            {%endblock%}