{% extends "base.html" %}


{% block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>Shipped Items</title>
    </head>
    <body>
      
      
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br>
                        <h3>Shipped Items</h3>
                        {{orders}}
                        <br><br>
                    </div>    
                </center>
            </div>
            </div>    

              


           
            

    </body>
</html>
{% endblock %}